#register-form-main-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    margin: auto;
    padding: 30px;
}

#register-form-main-container .input-label {
    font-size: 20px;
}

#register-form-main-container input {
    width: 250px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}

#register-form-main-container button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
